@font-face {
    font-family: Pokemon;
    src: url(../Fuentes/Pokemon\ Solid.ttf) format("truetype");
}
@font-face {
    font-family: Pokemon-hueco;
    src: url(../Fuentes/Pokemon\ Hollow.ttf) format("truetype");
}

html, body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding: 10px;
}

#logo-pokemon{
    height: 100px;
    width:  250px;
}

h1{
    color: white;
    text-align: center;
}

main {
    background-image: url("../imagenes/profoaklab.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.caja-buscador{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 10px;
}

#buscador{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

#boton-buscar{
    background-color: #DA471B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.lista-navegador{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    padding-inline:20px;
}

button{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
    border-radius: 4vmax;
    width: 100px;
}

.seccion-pokemons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;   
    color:gr
}

.pokemons {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 200px;
    height: 320px;
    margin: 15px;
    border: 7px solid red;
    border-radius: 10px;
    align-items: center;
    
}

.tipo-pokemon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.pokemons img {
    background: linear-gradient(to bottom right,yellow,pink) ;
    border: 5px solid rgb(196, 191, 191);
    margin-top: 20px;
    
    width:170px;
    height: 160px;
    border-top-left-radius:40px;
    border-bottom-right-radius: 25px;

}

.infoPokemon {
    margin: 0px;
    font-size: 17px;
    color:black
}

.tipo1{
    text-align: center;
    border-radius: 4vmax;
    width: 100px;
}
.tipo2{
    text-align: center;
    border-radius: 4vmax;
    width: 100px;
}

.paginacion{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrado de texto */
    position: relative;
    bottom: 0;
}
footer p{
    text-align: center;
}