@font-face {
    font-family: Pokemon;
    src: url(../Fuentes/Pokemon\ Solid.ttf) format("truetype");
}
@font-face {
    font-family: Pokemon-hueco;
    src: url(../Fuentes/Pokemon\ Hollow.ttf) format("truetype");
}

html, body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding: 10px;
}

#logo-pokemon{
    height: 100px;
    width:  250px;
}

main {
    background-image: url("../imagenes/pokemo151.webp");
    background-size:cover;
    text-align: center;
}
main a{
    font-family: pokemon;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.datosPokemon div{
    color: white;
    border:12px solid red;
    border-radius: 10px;
    margin-inline: 20px;
    margin-block: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 400px;
    background-color: blue;
}

.cartaPokemonIndividual {
}

.detallesPokemon{

}
.cartaPokemonIndividual p{
    margin: 7px;
}
.cartaPokemonIndividual p:last-child{
    margin: 10px;
}

#descripcion {
    display: block;

}

.cartaPokemonIndividual img {
    width: 240px;
    height:210px;
    background:linear-gradient(to bottom right, yellow,pink);
    border: 3px solid silver;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 28px;
}

.tabla-estadisticas {
    width: 50%; /* Ajusta la tabla al contenedor */
    border-collapse: collapse;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 8px;
    overflow: hidden;
}

.tabla-estadisticas th, .tabla-estadisticas td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.tabla-estadisticas th {
    background: #f2f2f2;
}

ul {
    margin-top: 10px;
    height: fit-content;
}

.barra-contenedor {
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.barra-progreso {
    height: 10px;
    background: #4caf50;
}

footer {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrado de texto */
    position: relative;
    bottom: 0;
}
footer p{
    text-align: center;
}

.primeraEvolucion {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 200px;
    height: 260px;
    margin: 15px;
    border-radius: 10px;
    align-items: center;
}

.segundaEvolucion {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 200px;
    height: 260px;
    margin: 15px;
    border-radius: 10px;
    align-items: center;
}

.terceraEvolucion {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 200px;
    height: 260px;
    margin: 15px;
    border-radius: 10px;
    align-items: center;
}

.primeraEvolucion img , .segundaEvolucion img, .terceraEvolucion img {
    background: linear-gradient(to bottom right,yellow,pink) ;
    border: 5px solid rgb(196, 191, 191);
    margin-top: 20px;
    
    width:170px;
    height: 160px;
    border-top-left-radius:40px;
    border-bottom-right-radius: 25px;

}