@font-face {
    font-family: Pokemon;
    src: url(../Fuentes/Pokemon\ Solid.ttf) format("truetype");
}
@font-face {
    font-family: Pokemon-hueco;
    src: url(../Fuentes/Pokemon\ Hollow.ttf) format("truetype");
}

html, body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding: 10px;
}

#logo-pokemon{
    height: 100px;
    width:  250px;
}

main {
    background-image: url("../imagenes/pokemo151.webp");
    background-size:cover;
    text-align: center;
}
main a{
    font-family: pokemon;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

section {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cartaPokemonIndividual {
    background-color: blue;
    width: 400px;
    height: 640px;
    border:12px solid red;
    margin-block: 30px;
    border-radius: 10px;
    margin-inline: 20px;
    display:flex;
    flex-direction: column;
    
    align-items: center;

}
.cartaPokemonIndividual p{
    margin: 7px;
}
.cartaPokemonIndividual p:last-child{
    margin: 10px;
}

#descripcion {
    display: block;

}

.cartaPokemonIndividual img {
    width: 240px;
    height:210px;
    background:linear-gradient(yellow,pink);
    
    
    border: 3px solid silver;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 28px;
}

ul {
    margin-top: 10px;
    height: fit-content;
}
table{
    margin-top: 10px;
}



footer {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrado de texto */
    position: relative;
    bottom: 0;
}
footer p{
    text-align: center;
}

.primeraEvolucion {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 200px;
    height: 260px;
    margin: 15px;
   
    border-radius: 10px;
    align-items: center;
}

.segundaEvolucion {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 200px;
    height: 260px;
    margin: 15px;
    
    border-radius: 10px;
    align-items: center;
}

.terceraEvolucion {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 200px;
    height: 260px;
    margin: 15px;
    
    border-radius: 10px;
    align-items: center;
}

.primeraEvolucion img , .segundaEvolucion img, .terceraEvolucion img {
    background: linear-gradient(to bottom right,yellow,pink) ;
    border: 5px solid rgb(196, 191, 191);
    margin-top: 20px;
    
    width:170px;
    height: 160px;
    border-top-left-radius:40px;
    border-bottom-right-radius: 25px;

}